/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Utility Classes                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  display: grid;
  place-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.disable-input {
  pointer-events: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-background-dark: rgb(24, 23, 32);
  --secondary-backround: #272a31;
  --blue: #2993ff;
  --white: #f5f5f6;
  --red: #ff6347;
  --green: #419f22;
  --magenta: #ae38d5;
  --light-orange: #ffedd5;
  --orange: #ff9500;
  --cyan: #38d5ae;
  --border-radius-5: 5px;
}

body {
  background: var(--app-background-dark) url('../media/blue-retrowave.jpg') center / cover no-repeat;
  background: var(--app-background-dark) url('../media/neon-retrowave.gif') center / cover no-repeat;
  min-height: 100svh;
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  min-height: 100svh;
}

.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

h1, h2, p {
  color: var(--white);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Game Modal                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.game-modal {
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  align-items: center;
  background-color: rgba(177, 81, 209, 0.5);
  backdrop-filter: blur(5px);
  border-radius: var(--border-radius-5);
  padding: 4rem;
  box-shadow: inset 1px 1px 3px 0px rgba(255, 255, 255, 0.301), 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Game Header                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.game-header {
  align-items: center;
  width: 100%;
}

.leaderboard-wrapper i {
  color: var(--white);
  font-size: 3rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

.leaderboard-wrapper i:hover {
  color: var(--light-orange)
}

.start-restart-wrapper {
  position: relative;
  width: 9.5rem;
}

.start-restart {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  padding: .6rem 0;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: var(--border-radius-5);
}

.start {
  background-color: var(--orange);
  transition: background-color 0.15s ease-in-out;
}

.start:hover {
  background-color: #f58c00;
}

.restart {
  background-color: var(--red);
  transition: background-color 0.15s ease-in-out;
}

.restart:hover {
  background-color: #f25637
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Game Modal Content                                   */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.time-remaining-wrapper {
  width: 12rem;
  height: 12rem;
  justify-content: center;
  align-items: center;
}

.time-remaining {
  color: var(--white);
  font-size: 9rem;
}

.icon-and-time {
  position: relative; 
}

.icon-and-time i {
  position: absolute;
  top: .5rem;
  left: 50%; 
  transform: translateX(-50%);
  color: var(--white);
  font-size: 2rem;
}

.hits-wrapper {
  margin-bottom: 1.7rem;
}

.hits-wrapper p {
  font-size: 2rem;
  font-weight: 600;
}

.random-word-wrapper {
  min-height: 8rem;
}

.random-word-wrapper p {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 5rem;
  user-select: none;
}

.user-guess {
  text-align: center;
  width: 25rem;
  padding: 1rem;
  font-size: 2rem;
  border-radius: var(--border-radius-5);
  background-color: rgba(70, 0, 190, 0.75);
  color: var(--white);
  box-shadow: inset 2px 2px 5px 0 rgba(0, 0, 0, 0.3), inset -2px -2px 5px 0 rgba(255, 255, 255, 0.4);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Leaderboard                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.leaderboard-container {
  font-family: "Reddit Mono", monospace;
}

.leaderboard-bg {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 3rem;
  width: 32rem;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.leaderboard-container h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 2rem;
}

ul li p {
  font-weight: 500;
}

.scores-container {
  flex-direction: column;
  gap: .4rem;
}

.close-leaderboard-wrapper i {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out;
}

.close-leaderboard-wrapper i:hover {
  color: var(--light-orange)
}